*{
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;

}
.navbar::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: -1;

}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    font-size: 1.1rem;
}
.navbar ul li a{
    padding:5px 20px ;
    text-decoration: none;
    color: white;

}
.navbar ul li a:hover{
    border-bottom: 2px solid rgb(8, 232, 248);

}


/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5)
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(images/dina\ bg.jpg)no-repeat center center/cover; 
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.heading{
    color: rgb(14, 13, 13);
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    transform: scale(1,1,3);

}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid rgb(14, 13, 13);
    color: rgb(13, 13, 14);
    outline: rgb(12, 3, 94);
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(8, 138, 116);
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

/* About Section */
#about{
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;
    background: url(images/stars.gif)no-repeat center center/cover;

}
.about img{
    width: 250px;
    height: 350px;

} 

#about h1{
    margin: 60px;
    color: rgb(3, 77, 69);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
table,th, td{
    border-style: ridge;
    border-color: rgb(8, 220, 248);
    padding: 5px;
    
}

tr:nth-last-child(even){
    background-color: #fff;
}
tr:nth-last-child(odd){
    background-color: #ddd;

} 
 

/* Family Section */
#family{
    display: flex;
    flex-direction: column;
    background-color:coral;

}
#family h1{
     margin: 60px;
     color: rgb(253, 250, 252);
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
.family{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.family img{
    width: 450px;
    height: 400px;
    padding: 10px;
    margin: 10px;
}
.family img:hover{
    background-color: rgb(250, 243, 250);
    cursor: pointer;
}

.family table{
    width: 100%
    
}
table,tr, td{
    border-style: outset;
    border-color: rgb(8, 220, 248);
     
}
.family td,tr,th{
    padding: 15px;

}
tr:nth-last-child(even){
    background-color: #fff;
}
tr:nth-last-child(odd){
    background-color: #ddd;

}



/* Education Section */
#education{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url(images/wallpaper.jpg) no-repeat center center/cover;


}
#education h1{
    margin: 60px;
    color: rgb(27, 5, 151);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
     
}
.box{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    height: 400px;
    width: 500px;
    background-color: rgba(79, 159, 250, 0.5);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, #f876bedc) 50% whitesmoke 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-color: cornsilk;
    cursor: pointer;
}
.box h2{
    color: rgb(250, 30, 6);
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
}



/* Interest Section */

#interest{
    display: flex;
    flex-direction: column;
    background: url(images/love.gif) no-repeat center center/cover;

}

#interest h1{
    margin: 60px;
    color: rgb(209, 50, 10);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

video {
   display: block;
   margin: auto;
  
}
#interest h2{
    text-align: center;
    margin: 30px;
}

#interest h2{
    text-align: center;
}

#interest h3{
    text-align: justify;
}



/*Gallery Section*/
#gallery{
    display: flex;
    flex-direction: column;
    background-color:  rgb(250, 247, 94)
}

#gallery h1{
    margin: 60px;
    font-size: 50px;
    text-align: center;
    color: rgb(8, 180, 22);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136,0.2) ;
}



/*Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    background-color:  whitesmoke
}

#contact h1{
    margin: 60px;
    color: rgb(180, 8, 8);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

 .contact{
     font-family: mont-serrat, sans-serif;
     box-sizing: border-box;
     background-color: tomato;
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .contact-iframe{
     width: 50%;
     height: 100%;
     display: block;
     margin-left: auto;
     margin-right: auto;


 }
 .contact-info{
     display: flex;
     width: 100%;
     max-width: 1200px;
     align-items: center;
     justify-content: center;
     padding: 0 20px;
 }
 .card{
     background: gray;
     padding: 0 20px;
     margin: 0 10px;
     width: calc(20%-20px);
     height: 200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: cornsilk;
 }
 .card-icon{
     font-size: 28px;
     background: crimson;
     width: 60px;
     height: 60px;
     text-align: center;
     line-height: 60px !important;
     border-radius: 50%;
     transition: 0.3s linear;

 }
 .card:hover .card-icon{
    background: none; 
    color: darkkhaki;
    transform: scale(1.6);
 }
 .card p{
    margin-top: 20px; 
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: o.3s linear;
 }
 .card:hover p{
     max-height: 40px;
     opacity: 1;
 }
